<!doctype html>
<html>
<head><title>Editar Auto</title></head>
<body>
    <h1>Editar auto ID {{auto.id}}</h1>
    <form method="post">
        Marca: <input name="marca" value="{{auto.marca}}"><br>
        Modelo: <input name="modelo" value="{{auto.modelo}}"><br>
        Año: <input name="anio" value="{{auto.anio}}"><br>
        Precio: <input name="precio" value="{{auto.precio}}"><br>
        Color: <input name="color" value="{{auto.color}}"><br>
        Disponible: <input name="disponible" value="{{auto.disponible}}"><br>
        <input type="submit" value="Guardar cambios">
    </form>
</body>
</html>
